useDynLib(critbitr, cbt_make, cbt_insert, cbt_contains, cbt_prefix,
          cbt_delete, cbt_load_file, ht_load_file)

export("make_cbt",
       "insert",
       "contains",
       "delete",
       "prefix",
       "test_cbt",
       "load_file",
       "hash_load_file")
